@using Mfx1.Server.Resources
@model Mfx1.Server.Models.ViewModelBase

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.PageTitle</title>
    <link href="~/content/styles/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/styles/ybq-core.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/styles/site/ybqapp-site.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/Styles/bootstrap-datepicker.min.css" type="text/css" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/favicon.png">

    @RenderSection("adhoc_Css", required: false)

    <script src="~/content/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/content/scripts/bootstrap.min.js"></script>
    <script src="~/content/scripts/bootstrap-datepicker.min.js"></script>
    <script src="//wurfl.io/wurfl.js"></script>
    <script src="~/content/scripts/site/ybq-core.min.js"></script>
    @RenderSection("adhoc_Scripts_Top", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @if (Model.Settings.ShouldShowErrorDetails)
        {
            @Html.Partial("pv_UxDebug")
        }
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("index", "home")" class="navbar-brand">
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- MENU -->
                </ul>
                @if (Request.IsAuthenticated)
                {
                    @Html.Partial("pv_LoggedUser")
                }
                else
                {
                    <div class="pull-right">
                        <a class="btn btn-default" href="@Url.Action("index", "home")">
                            <div>@Strings_Menu.LogIn</div>
                            <i class="fa fa-sign-in"></i>&nbsp;
                        </a>
                    </div>
                }
            </div>

        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()

        <footer>
            <div class="text-right">
                <span>Youbiquitous</span><br />
                Dino Esposito&nbsp;&nbsp;<i class="fa fa-tag"></i>&nbsp;2018
            </div>
        </footer>
    </div>

    <script type="text/javascript" src="~/content/scripts/site/ybq-coreinit.min.js"></script>
    @RenderSection("adhoc_Scripts_Bottom", required: false)
</body>

</html>