@model TaskZero.Server.Models.Account.LoginViewModel
@using TaskZero.Server.Resources
<!DOCTYPE html>
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREDENTIALS</title>
    <link href="~/content/styles/font-awesome.min.css" rel="stylesheet" type="text/css" /> <!-- Fixes input icon placement -->
    <link href="~/content/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/styles/ybq-core.css" rel="stylesheet" type="text/css" />
    <link href="~/content/styles/site/ybqapp-login.min.css" rel="stylesheet" type="text/css" />
    <script src="~/content/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/content/scripts/site/ybq-core.min.js?v=1"></script>
</head>
<body class="login-body">
<div>
    <div class="login-subtitle hidden-xs">
        <a href="@Url.Action("index", "home")">TASK&diams;ZERO</a>
    </div>
</div>
        

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3" style="margin-top: 20px;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="login-box-header">CREDENTIALS</div>
                </div>
                <div class="panel-body">
                    <div id="login-form-message" class="alert alert-info" style="display: none;"></div>
                    <form class="form-horizontal" id="login-form"
                          role="form" method="post"
                          action="@Url.Action("auth", "account")">
                        <input type="hidden" name="returnurl" value="@Model.Input.ReturnUrl" />
                        <div class="form-group has-feedback" id="login-form-group-username">
                            <div class="col-xs-12">
                                <input type="text" class="form-control text-lowercase"
                                       id="username" name="username"
                                       autocomplete="new-user"
                                       required
                                       maxlength="50"
                                       placeholder="@Strings_UI.Account_EnterYourName"
                                       data-click-on-enter="#login-form-submit-button">
                                <i class="fa fa-envelope form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback" id="login-form-group-password">
                            <div class="col-xs-12">
                                <input type="password" class="form-control"
                                       id="password" name="password"
                                       autocomplete="new-password"
                                       maxlength="30"
                                       required
                                       placeholder="@Strings_UI.Account_EnterYourPassword"
                                       data-click-on-enter="#login-form-submit-button">
                                <i class="fa fa-key form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 30px">
                            <div class="col-xs-offset-2 col-xs-8">
                                <button type="button" id="login-form-submit-button"
                                        class="btn btn-primary btn-block">
                                    @Strings_Menu.LogIn
                                </button>
                                <span id="login-form-loader"
                                      class="text-danger" style="display: none;">
                                    @Strings_Core.System_OperationInProgress
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer text-center">
                    <a href="@Url.Action("recover", "account")">
                        @Strings_UI.Account_ForgotYourPassword
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
        
<script type="text/javascript" src="~/content/scripts/site/ybq-coreinit.min.js"></script>
</body>
</html>

<script type="text/javascript">
    $("#login-form-submit-button").click(function () {
        if (Ybq.canAcceptValueOf("#login-form",
                "username",
                function(input) { return input.length > 0 },
                "@Strings_UI.Account_EnterYourName") &&
            Ybq.canAcceptValueOf("#login-form",
                "password",
                function(input) { return input.length > 0; },
                "@Strings_UI.Account_EnterYourPassword")) {

            Ybq.postForm("#login-form",
                function(data) {
                    var response = JSON.parse(data);
                    if (response.Success) {
                        window.location.href = response.RedirectUrl;
                    }  
                });
        } else {
            Ybq.clearFormAfterTimeout("#login-form");
        }
    });
</script>
