@model TaskZero.Server.Models.ViewModelBase
@using Expoware.Youbiquitous.Extensions
@using TaskZero.Server.Resources
@{
    var alternateCultures = Model.Settings.CultureManager.AlternateCultures();
    var currentLanguageFlag = String.Format("{0}.png", Model.Settings.CultureManager.Current().Name);
}

<div class="dropdown pull-right">
    <a role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="text-warning">
            @User.Identity.Name
        </span>
        <i class="fa fa-chevron-down"></i>
        <div>
            <img src="~/content/images/flags/@currentLanguageFlag" width="18" alt="" />
            @Model.Settings.CultureManager.Current().DisplayName()
        </div>
    </a>
    <ul class="dropdown-menu">
        @foreach (var alternateCulture in alternateCultures)
        {
            var alternateFlag = String.Format("{0}.png", alternateCulture.Code());
            <li>
                <a href="@Url.Action("lang", "app",
                             new {id = alternateCulture.Code(), returnUrl = Request.RawUrl})">
                    <img src="~/content/images/flags/@alternateFlag" width="18" alt=""/>
                    &nbsp;
                    @alternateCulture.DisplayName()
                </a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a class="text-uppercase" href="@Url.Action("logout", "account")">
                <i class="fa fa-sign-out"></i>
                @Strings_Menu.LogOut
            </a>
        </li>

    </ul>
</div>



