@using Expoware.Youbiquitous.Extensions
@using TaskZero.Server.Common.Extensions
@model IList<TaskZero.ReadStack.ReadModel.PendingTask>


@if (!Model.Any())
{
    <h4 class="text-muted">No tasks found</h4>
}
else
{
    <table class="table table-responsive table-hover hand">
        <thead>
        <tr>
            <td style="width: 10px"></td>
            <td>TASK</td>
            <td>STATUS</td>
            <td>DUE DATE</td>
            <td>&nbsp;</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var task in Model)
        {
            <tr data-gotourl="/task/edit/@task.TaskId">
                <td style="background: @task.ToColor(task.Priority)"></td>
                <td>
                    <strong>@task.Title</strong><br />
                    <small>@task.Description.ToDefault("N/A")</small>
                </td>
                <td>@task.Status</td>
                <td>
                    @Html.Raw(task.DueDate.HasValue
                        ? task.DueDate.Value.ToString("d MMM yyyy")
                        : "<small class='text-muted'>N/A</small>")
                </td>
                <td>
                    <button class="btn btn-danger"
                            data-action-delete="@task.TaskId">
                        <i class="fa fa-fw fa-trash"></i>
                    </button>
                    <button class="btn btn-success"
                            data-action-complete="@task.TaskId">
                        <i class="fa fa-fw fa-check"></i>
                    </button>
                    <a role="button" class="btn btn-primary"
                       href="@Url.Action("history", "task", new {id=task.TaskId})">
                        <i class="fa fa-fw fa-history"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

